:root,
:root.rosa {
  --dark-color: #ff9292;
  --dark-color-hover: #fcb0b0;
  --light-color: #ffdcdc;
  --btn-light-color: #ffb4b4;
  --btn-hover-color: #fac5c5;
}

:root.azul {
  --dark-color: rgb(64, 102, 224);
  --dark-color-hover: rgb(96, 136, 255);
  --light-color: #92b8e4;
  --btn-light-color: #7aade7;
  --btn-hover-color: #69b7f7;
}

:root.amarelo {
  --dark-color: rgb(204, 178, 32);
  --dark-color-hover: rgb(229, 241, 114);
  --light-color: #e3e492;
  --btn-light-color: #e0e77a;
  --btn-hover-color: #f5f769;
}

body {
  margin: 0; 
  text-align: center; 
  font-family: 'Source Sans Pro', sans-serif; 
  line-height: 1.5
}

.name {
  color: var(--dark-color); 
  margin: 50px auto 0 auto; 
  font-size: 5rem; 
  font-family: 'Sacramento', cursive; 
  font-weight: normal
}

.subtitle {
  color: var(--dark-color); 
  font-family: 'Raleway', sans-serif; 
  padding-bottom: 10px
}

.skill {
  color: var(--dark-color); 
  font-family: 'Raleway', sans-serif;
}

.pink-descript {
  color: var(--text-color); 
  font-family: 'Raleway', sans-serif;
}

.black-descript {
  color: #454545; 
  font-family: 'Raleway', sans-serif;
}

.footer-link {
  color: var(--light-color); 
  font-family: 'Raleway'; 
  font-weight: bold; 
  margin: 10px 20px; 
  text-decoration: none
}

.footer-link:hover {
  color: white
}

.dotted-line {
  border: 8px dotted var(--light-color); 
  border-bottom: none; 
  width: 4%; 
  margin: 100px auto 100px auto
}

.skill-row {
  width: 50%; 
  margin: 100px auto 100px auto; 
  text-align: left; 
  line-height: 1.5
}

.pro {
  text-decoration: underline
}

.intro {
  width: 30%; 
  margin: auto
}

.borboleta {
  margin-top: 40px; 
  margin-bottom: 0;
}

.top-cloud {
  position: absolute; 
  right: 300px; 
  top: 40px
}

.bottom-cloud {
  position: absolute; 
  left: 250px; 
  bottom: 300px
}

.profile-img {
  border-radius: 50%; 
  width: 12%;
}

.heart, .part-of-me, .learning, .calendar {
  width: 10%; 
  float: left; 
  margin-right: 30px
}

.contact-me {
  width: 40%; 
  margin: 40px auto 60px
}

.copyright {
  color: var(--light-color); 
  font-size: 0.75rem; 
  padding: 20px 0
}

.btn {
  background: var(--btn-light-color);
  background-image: -webkit-linear-gradient(top, var(--btn-light-color), var(--dark-color));
  background-image: -moz-linear-gradient(top, var(--btn-light-color), var(--dark-color));
  background-image: -ms-linear-gradient(top, var(--btn-light-color), var(--dark-color));
  background-image: -o-linear-gradient(top, var(--btn-light-color), var(--dark-color));
  background-image: linear-gradient(to bottom, var(--btn-light-color), var(--dark-color));
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid var(--dark-color) 1px;
  text-decoration: none;
}

.btn:hover {
  background: var(--btn-hover-color);
  background-image: -webkit-linear-gradient(top, var(--btn-hover-color), var(--dark-color-hover));
  background-image: -moz-linear-gradient(top, var(--btn-hover-color), var(--dark-color-hover));
  background-image: -ms-linear-gradient(top, var(--btn-hover-color), var(--dark-color-hover));
  background-image: -o-linear-gradient(top, var(--btn-hover-color), var(--dark-color-hover));
  background-image: linear-gradient(to bottom, var(--btn-hover-color), var(--dark-color-hover));
  text-decoration: none;
}

.top-container {
  background-color: var(--light-color); 
  position: relative;
  padding: 100px
}

.mid-container {
  color: var(--mid-color);
  margin: 100px 0
}

.bottom-container {
  background-color: var(--dark-color); 
  text-decoration: var(--dark-color); 
  padding: 50px 0 20px
}
