<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alessandra Reis - Currículo</title>
    <link rel="stylesheet" href="../static/styles-cv.css">
    <link rel="icon" href="../static/icon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Sacramento&family=Source+Sans+Pro&display=swap" rel="stylesheet">

</head>

    <body>
    <div class="top-container">
        <img class="flower" src="../static/rosa1.png" alt="img-rosa">
        <img class="flower2" src="../static/rosa1.png" alt="img-rosa">
        <div class="skill-row">
        <h1 class="name">Alessandra de Souza Reis</h1>
        </div>
    </div>

    <div class="mid-container">
  
        <h3 class="subtitle">Resumo</h3>
        <p>Bacharel em administração, passei por Psicologia e me encontrei na Computação. Atualmente trabalho como professora de programação
            na BYJU'S FutureSchool. Minhas principais habilidades são Python, HTML e CSS, mas estou sempre em busca de
            cursos extracurriculares e projetos paralelos para me aprimorar. Sou proativa, organizada, tenho facilidade em
            trabalhar em equipe e prezo pela qualidade dos meus trabalhos. Aprendo rápido e sou autodidata,
            tendo adquirido grande parte do meu conhecimento tecnológico a partir de interesse e pesquisa próprios.
            </p>

 <hr class="dotted-line">

        <h3 class="subtitle">Trabalho</h3>
        <div class="skill-row">
            <p><strong>mai/2021 - atual:</strong> Professora de Programação na <a href="https://www.byjusfutureschool.com/"> BYJU's Future School</a></p>
        </div>
        <p><em>Ensino a crianças os fundamentos da programação - lógica, estrutura, sequência e pensamento algorítmico - para
            produzir resultados criativos como animações, jogos e aplicativos. </em></p>

 <hr class="dotted-line">
        <h3 class="subtitle">Educação</h3>
        <div class="skill-row">
            <p><strong>2021 - atual:</strong> Ciência da Computação pela Universidade Estácio de Sá</p>
            <p><strong>2018 - 2021:</strong> Psicologia pela Universidade Federal Fluminense</p>
            <p><strong>2013 - 2017:</strong> Administração pela Universidade Federal Fluminense</p>
        </div>

 <hr class="dotted-line">

        <h3 class="subtitle">Cursos</h3>
        <div class="skill-row">
            ◼ <a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code - The Complete Python Pro Bootcamp for 2021</a> (Cursando)<p></p>
        </div>
        <p><em>Construindo um projeto por dia de aula, aprendi a trabalhar com Python, HTML, CSS, Flask, Programação Orientada a Objetos, Boostrap,
            Webscraping e automação (Beautiful Soup e Selenium), Tkinter (GUI), APIs, Pandas, Jinja, Twilio e ainda há muito mais por vir.</em></p>

 <hr class="dotted-line">

        <h3 class="subtitle">Outros</h3>
        <p>Em constante movimento, frequentemente busco projetos pessoais que testam e desenvolvem ainda mais minhas habilidades. Atualmente, faço parte de uma equipe com um projeto para a criação de um jogo, utilizando a&nbsp;<b>Unity</b>&nbsp;como engine, me familiarizando ainda mais com o <b>Github</b>&nbsp;e começando minha saga no aprendizado de <b>C#</b>, além de auxiliar criando algumas animações (tanto com o <b>UMotion</b>,<b>&nbsp; </b>dentro da própria Unity, quanto com o <b>Blender</b>).</p>

<hr class="dotted-line">
        <h3 class="subtitle">Habilidades</h3>

    <table cellspacing="10px">
        <tbody><tr>
            <td><strong>Excel</strong></td>  <td><strong>🟢🟢🟢🟢</strong></td>
        
        </tr>
        <tr>
            <td><strong>Word</strong></td> <td><strong>🟢🟢🟢🟢</strong></td>
        </tr>
        <tr>
            <td><strong>Inglês</strong></td> <td><strong>🟢🟢🟢🟢</strong></td>
        </tr>
                <tr>
            <td><strong>Python</strong></td> <td><strong>🟢🟢🟢🟢</strong></td>
        </tr>
        <tr>
            <td><strong>HTML</strong></td> <td><strong>🟡🟡🟡</strong></td>
        </tr>
        <tr>
            <td><strong>CSS</strong></td> <td><strong>🟡🟡🟡</strong></td>
        </tr>
        <tr>
            <td><strong>Github</strong></td> <td><strong>🟠🟠</strong></td>
        </tr>
        <tr>
            <td><strong>Javascript</strong></td> <td><strong>🟠🟠</strong></td>
        </tr>
        <tr>
            <td><strong>SQLAlchemy</strong></td> <td><strong>🟠🟠</strong></td>
        </tr>
        <tr>
            <td><strong>Bootstrap</strong></td> <td><strong>🟠🟠</strong></td>
        </tr>
         <tr>
            <td><strong>Flask</strong></td> <td><strong>🟠🟠</strong></td>
        </tr>
        <tr>
            <td><strong>Unity</strong></td> <td><strong>🟠</strong></td>
        </tr>

    </tbody></table>

    </div>

<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/alessandra-reis-b08b1685/">LinkedIn</a>
  <a class="footer-link" href="https://www.facebook.com/aleszreis">Facebook</a>
  <a class="footer-link" href="https://github.com/aleszreis/">GitHub</a>
  <a class="footer-link" href="https://aleszreis.github.io/myWebsite/index.html">Perfil</a>
  <p class="copyright">© 2021 Alessandra Reis.</p>
</div>

    

</body></html>
